.dark{
    filter: invert(100%);
}
.dark img {
    filter: invert(100%);
}
strong{
    color:red;
}
.c{
    max-width: 62em;
    padding: 1.2em;
    margin: auto;
}
p{
    font-size:16px;
}
.btn{
    color: var(--blue);
    background-color: white;
    border: solid var(--blue);
    padding: 10px;
    margin: 4px;
    font-size: calc(0.5vh + 10px);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.pri{
    color: white;
    background-color:var(--blue);
}
hr{
    border: solid var(--blue);
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
}
@media screen and (min-width:900px){
h1{
    font-size: calc(5vh - 8px);
}
h2{
    font-size: calc(4vh - 8px);
}
h3{
    font-size: calc(3.5vh - 8px);
}
h4{
    font-size: calc(3.2vh - 10px);
}}
:root{
    font-family: system-ui, Helvetica, sans-serif;
    --blue:#0d6efd;
}
body{
    line-height: 1.5;
}
a:not(.btn){
    color: var(--blue);
}
td, th {
    padding: 0.7em;
    text-align: left;
    border-bottom: solid #eee;
    font-size: 16px;
}
a{
    text-decoration: none;
}
input,.btn{
    border-radius: 5px;
}
input:focus{
    border: var(--blue);
}
